@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

  
  .flipped .inner {
    transform: rotateY(180deg);
  }
  
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
  }
  
  .front,
  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
 .front {
    background: #fff;
    transform: rotateY(180deg);
  }
  
  .back {
    background: #2fa22b;
    color: #6D9886;
    font-size: 100px;
    transition: 0.3s ease all;
  }
  
  .back:hover {
    background: #4e1880;
    color: #6D9886;
    transform: scale(1.02);
  }
  